<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.BbsBlockMapper">
    
    <resultMap type="BbsBlock" id="BbsBlockResult">
        <result property="blockId"    column="block_id"    />
        <result property="blockName"    column="block_name"    />
        <result property="picPath"    column="pic_path"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBbsBlockVo">
        select block_id, block_name, pic_path, create_time, update_time, status from bbs_block
    </sql>

    <select id="selectBbsBlockList" parameterType="BbsBlock" resultMap="BbsBlockResult">
        <include refid="selectBbsBlockVo"/>
        <where>  
            <if test="blockName != null  and blockName != ''"> and block_name like concat('%', #{blockName}, '%')</if>
            <if test="picPath != null  and picPath != ''"> and pic_path = #{picPath}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBbsBlockByBlockId" parameterType="Long" resultMap="BbsBlockResult">
        <include refid="selectBbsBlockVo"/>
        where block_id = #{blockId}
    </select>
        
    <insert id="insertBbsBlock" parameterType="BbsBlock" useGeneratedKeys="true" keyProperty="blockId">
        insert into bbs_block
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blockName != null and blockName != ''">block_name,</if>
            <if test="picPath != null">pic_path,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blockName != null and blockName != ''">#{blockName},</if>
            <if test="picPath != null">#{picPath},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateBbsBlock" parameterType="BbsBlock">
        update bbs_block
        <trim prefix="SET" suffixOverrides=",">
            <if test="blockName != null and blockName != ''">block_name = #{blockName},</if>
            <if test="picPath != null">pic_path = #{picPath},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where block_id = #{blockId}
    </update>

    <delete id="deleteBbsBlockByBlockId" parameterType="Long">
        delete from bbs_block where block_id = #{blockId}
    </delete>

    <delete id="deleteBbsBlockByBlockIds" parameterType="String">
        delete from bbs_block where block_id in 
        <foreach item="blockId" collection="array" open="(" separator="," close=")">
            #{blockId}
        </foreach>
    </delete>
</mapper>