<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.BbsCardMapper">
    
    <resultMap type="BbsCard" id="BbsCardResult">
        <result property="cardId"    column="card_id"    />
        <result property="title"    column="title"    />
        <result property="message"    column="message"    />
        <result property="createBy"    column="create_by"    />
        <result property="blockId"    column="block_id"    />
        <result property="areaId"    column="area_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBbsCardVo">
        select card_id, title, message, create_by, block_id, area_id, create_time, update_time, status from bbs_card
    </sql>

    <select id="selectBbsCardList" parameterType="BbsCard" resultMap="BbsCardResult">
        <include refid="selectBbsCardVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="blockId != null  and blockId != ''"> and block_id = #{blockId}</if>
            <if test="areaId != null  and areaId != ''"> and area_id = #{areaId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBbsCardByCardId" parameterType="Long" resultMap="BbsCardResult">
        <include refid="selectBbsCardVo"/>
        where card_id = #{cardId}
    </select>
        
    <insert id="insertBbsCard" parameterType="BbsCard" useGeneratedKeys="true" keyProperty="cardId">
        insert into bbs_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="message != null">message,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="blockId != null">block_id,</if>
            <if test="areaId != null and areaId != ''">area_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="message != null">#{message},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="blockId != null">#{blockId},</if>
            <if test="areaId != null and areaId != ''">#{areaId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateBbsCard" parameterType="BbsCard">
        update bbs_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="message != null">message = #{message},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="blockId != null">block_id = #{blockId},</if>
            <if test="areaId != null and areaId != ''">area_id = #{areaId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where card_id = #{cardId}
    </update>

    <delete id="deleteBbsCardByCardId" parameterType="Long">
        delete from bbs_card where card_id = #{cardId}
    </delete>

    <delete id="deleteBbsCardByCardIds" parameterType="String">
        delete from bbs_card where card_id in 
        <foreach item="cardId" collection="array" open="(" separator="," close=")">
            #{cardId}
        </foreach>
    </delete>
</mapper>