<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.BbsReplyReplyMapper">
    
    <resultMap type="BbsReplyReply" id="BbsReplyReplyResult">
        <result property="rrId"    column="rr_id"    />
        <result property="message"    column="message"    />
        <result property="cardId"    column="card_id"    />
        <result property="replyId"    column="reply_id"    />
        <result property="replyTo"    column="reply_to"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectBbsReplyReplyVo">
        select rr_id, message, card_id, reply_id, reply_to, create_by, create_time, update_time, status from bbs_reply_reply
    </sql>

    <select id="selectBbsReplyReplyList" parameterType="BbsReplyReply" resultMap="BbsReplyReplyResult">
        <include refid="selectBbsReplyReplyVo"/>
        <where>  
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="cardId != null  and cardId != ''"> and card_id = #{cardId}</if>
            <if test="replyId != null  and replyId != ''"> and reply_id = #{replyId}</if>
            <if test="replyTo != null  and replyTo != ''"> and reply_to = #{replyTo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBbsReplyReplyByRrId" parameterType="Long" resultMap="BbsReplyReplyResult">
        <include refid="selectBbsReplyReplyVo"/>
        where rr_id = #{rrId}
    </select>
        
    <insert id="insertBbsReplyReply" parameterType="BbsReplyReply" useGeneratedKeys="true" keyProperty="rrId">
        insert into bbs_reply_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message != null">message,</if>
            <if test="cardId != null and cardId != ''">card_id,</if>
            <if test="replyId != null and replyId != ''">reply_id,</if>
            <if test="replyTo != null">reply_to,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="message != null">#{message},</if>
            <if test="cardId != null and cardId != ''">#{cardId},</if>
            <if test="replyId != null and replyId != ''">#{replyId},</if>
            <if test="replyTo != null">#{replyTo},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateBbsReplyReply" parameterType="BbsReplyReply">
        update bbs_reply_reply
        <trim prefix="SET" suffixOverrides=",">
            <if test="message != null">message = #{message},</if>
            <if test="cardId != null and cardId != ''">card_id = #{cardId},</if>
            <if test="replyId != null and replyId != ''">reply_id = #{replyId},</if>
            <if test="replyTo != null">reply_to = #{replyTo},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where rr_id = #{rrId}
    </update>

    <delete id="deleteBbsReplyReplyByRrId" parameterType="Long">
        delete from bbs_reply_reply where rr_id = #{rrId}
    </delete>

    <delete id="deleteBbsReplyReplyByRrIds" parameterType="String">
        delete from bbs_reply_reply where rr_id in 
        <foreach item="rrId" collection="array" open="(" separator="," close=")">
            #{rrId}
        </foreach>
    </delete>
</mapper>