<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.ShareCardReplyMapper">
    
    <resultMap type="ShareCardReply" id="ShareCardReplyResult">
        <result property="replyId"    column="reply_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="message"    column="message"    />
        <result property="createBy"    column="create_by"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectShareCardReplyVo">
        select reply_id, card_id, message, create_by, create_name, create_time, update_time, status from share_card_reply
    </sql>

    <select id="selectShareCardReplyList" parameterType="ShareCardReply" resultMap="ShareCardReplyResult">
        <include refid="selectShareCardReplyVo"/>
        <where>  
            <if test="cardId != null  and cardId != ''"> and card_id = #{cardId}</if>
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectShareCardReplyByReplyId" parameterType="Long" resultMap="ShareCardReplyResult">
        <include refid="selectShareCardReplyVo"/>
        where reply_id = #{replyId}
    </select>
        
    <insert id="insertShareCardReply" parameterType="ShareCardReply" useGeneratedKeys="true" keyProperty="replyId">
        insert into share_card_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">card_id,</if>
            <if test="message != null">message,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">#{cardId},</if>
            <if test="message != null">#{message},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateShareCardReply" parameterType="ShareCardReply">
        update share_card_reply
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">card_id = #{cardId},</if>
            <if test="message != null">message = #{message},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where reply_id = #{replyId}
    </update>

    <delete id="deleteShareCardReplyByReplyId" parameterType="Long">
        delete from share_card_reply where reply_id = #{replyId}
    </delete>

    <delete id="deleteShareCardReplyByReplyIds" parameterType="String">
        delete from share_card_reply where reply_id in 
        <foreach item="replyId" collection="array" open="(" separator="," close=")">
            #{replyId}
        </foreach>
    </delete>
</mapper>