<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.ShareCardInfoMapper">
    
    <resultMap type="ShareCardInfo" id="ShareCardInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="message"    column="message"    />
        <result property="sourceInfo"    column="source_info"    />
        <result property="sourceLink"    column="source_link"    />
    </resultMap>

    <sql id="selectShareCardInfoVo">
        select info_id, card_id, message, source_info, source_link from share_card_info
    </sql>

    <select id="selectShareCardInfoList" parameterType="ShareCardInfo" resultMap="ShareCardInfoResult">
        <include refid="selectShareCardInfoVo"/>
        <where>  
            <if test="cardId != null  and cardId != ''"> and card_id = #{cardId}</if>
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="sourceInfo != null  and sourceInfo != ''"> and source_info = #{sourceInfo}</if>
            <if test="sourceLink != null  and sourceLink != ''"> and source_link = #{sourceLink}</if>
        </where>
    </select>
    
    <select id="selectShareCardInfoByInfoId" parameterType="Long" resultMap="ShareCardInfoResult">
        <include refid="selectShareCardInfoVo"/>
        where info_id = #{infoId}
    </select>
        
    <insert id="insertShareCardInfo" parameterType="ShareCardInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into share_card_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">card_id,</if>
            <if test="message != null">message,</if>
            <if test="sourceInfo != null">source_info,</if>
            <if test="sourceLink != null">source_link,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">#{cardId},</if>
            <if test="message != null">#{message},</if>
            <if test="sourceInfo != null">#{sourceInfo},</if>
            <if test="sourceLink != null">#{sourceLink},</if>
         </trim>
    </insert>

    <update id="updateShareCardInfo" parameterType="ShareCardInfo">
        update share_card_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null and cardId != ''">card_id = #{cardId},</if>
            <if test="message != null">message = #{message},</if>
            <if test="sourceInfo != null">source_info = #{sourceInfo},</if>
            <if test="sourceLink != null">source_link = #{sourceLink},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteShareCardInfoByInfoId" parameterType="Long">
        delete from share_card_info where info_id = #{infoId}
    </delete>

    <delete id="deleteShareCardInfoByInfoIds" parameterType="String">
        delete from share_card_info where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
</mapper>