<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.ShareTagMapper">
    
    <resultMap type="ShareTag" id="ShareTagResult">
        <result property="tagId"    column="tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectShareTagVo">
        select tag_id, tag_name, create_time, update_time, status from share_tag
    </sql>

    <select id="selectShareTagList" parameterType="ShareTag" resultMap="ShareTagResult">
        <include refid="selectShareTagVo"/>
        <where>  
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectShareTagByTagId" parameterType="Long" resultMap="ShareTagResult">
        <include refid="selectShareTagVo"/>
        where tag_id = #{tagId}
    </select>
        
    <insert id="insertShareTag" parameterType="ShareTag" useGeneratedKeys="true" keyProperty="tagId">
        insert into share_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateShareTag" parameterType="ShareTag">
        update share_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where tag_id = #{tagId}
    </update>

    <delete id="deleteShareTagByTagId" parameterType="Long">
        delete from share_tag where tag_id = #{tagId}
    </delete>

    <delete id="deleteShareTagByTagIds" parameterType="String">
        delete from share_tag where tag_id in 
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>
</mapper>