<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.SignBoardTopMapper">
    
    <resultMap type="SignBoardTop" id="SignBoardTopResult">
        <result property="topIp"    column="top_ip"    />
        <result property="boardId"    column="board_id"    />
        <result property="title"    column="title"    />
        <result property="picPath"    column="pic_path"    />
        <result property="linkPath"    column="link_path"    />
    </resultMap>

    <sql id="selectSignBoardTopVo">
        select top_ip, board_id, title, pic_path, link_path from sign_board_top
    </sql>

    <select id="selectSignBoardTopList" parameterType="SignBoardTop" resultMap="SignBoardTopResult">
        <include refid="selectSignBoardTopVo"/>
        <where>  
            <if test="boardId != null  and boardId != ''"> and board_id = #{boardId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="picPath != null  and picPath != ''"> and pic_path = #{picPath}</if>
            <if test="linkPath != null  and linkPath != ''"> and link_path = #{linkPath}</if>
        </where>
    </select>
    
    <select id="selectSignBoardTopByTopIp" parameterType="Long" resultMap="SignBoardTopResult">
        <include refid="selectSignBoardTopVo"/>
        where top_ip = #{topIp}
    </select>
        
    <insert id="insertSignBoardTop" parameterType="SignBoardTop" useGeneratedKeys="true" keyProperty="topIp">
        insert into sign_board_top
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="boardId != null and boardId != ''">board_id,</if>
            <if test="title != null">title,</if>
            <if test="picPath != null">pic_path,</if>
            <if test="linkPath != null">link_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="boardId != null and boardId != ''">#{boardId},</if>
            <if test="title != null">#{title},</if>
            <if test="picPath != null">#{picPath},</if>
            <if test="linkPath != null">#{linkPath},</if>
         </trim>
    </insert>

    <update id="updateSignBoardTop" parameterType="SignBoardTop">
        update sign_board_top
        <trim prefix="SET" suffixOverrides=",">
            <if test="boardId != null and boardId != ''">board_id = #{boardId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="picPath != null">pic_path = #{picPath},</if>
            <if test="linkPath != null">link_path = #{linkPath},</if>
        </trim>
        where top_ip = #{topIp}
    </update>

    <delete id="deleteSignBoardTopByTopIp" parameterType="Long">
        delete from sign_board_top where top_ip = #{topIp}
    </delete>

    <delete id="deleteSignBoardTopByTopIps" parameterType="String">
        delete from sign_board_top where top_ip in 
        <foreach item="topIp" collection="array" open="(" separator="," close=")">
            #{topIp}
        </foreach>
    </delete>
</mapper>