<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.SignTypeMapper">
    
    <resultMap type="SignType" id="SignTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSignTypeVo">
        select type_id, type_name, create_time, update_time, status from sign_type
    </sql>

    <select id="selectSignTypeList" parameterType="SignType" resultMap="SignTypeResult">
        <include refid="selectSignTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSignTypeByTypeId" parameterType="Long" resultMap="SignTypeResult">
        <include refid="selectSignTypeVo"/>
        where type_id = #{typeId}
    </select>
        
    <insert id="insertSignType" parameterType="SignType" useGeneratedKeys="true" keyProperty="typeId">
        insert into sign_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">#{typeName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateSignType" parameterType="SignType">
        update sign_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteSignTypeByTypeId" parameterType="Long">
        delete from sign_type where type_id = #{typeId}
    </delete>

    <delete id="deleteSignTypeByTypeIds" parameterType="String">
        delete from sign_type where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
</mapper>