<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.mapper.SignBoardMapper">
    
    <resultMap type="SignBoard" id="SignBoardResult">
        <result property="boardId"    column="board_id"    />
        <result property="message"    column="message"    />
        <result property="boardType"    column="board_type"    />
        <result property="areaId"    column="area_id"    />
        <result property="linkPath"    column="link_path"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSignBoardVo">
        select board_id, message, board_type, area_id, link_path, create_by, create_time, update_time, status from sign_board
    </sql>

    <select id="selectSignBoardList" parameterType="SignBoard" resultMap="SignBoardResult">
        <include refid="selectSignBoardVo"/>
        <where>  
            <if test="message != null  and message != ''"> and message = #{message}</if>
            <if test="boardType != null  and boardType != ''"> and board_type = #{boardType}</if>
            <if test="areaId != null  and areaId != ''"> and area_id = #{areaId}</if>
            <if test="linkPath != null  and linkPath != ''"> and link_path = #{linkPath}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSignBoardByBoardId" parameterType="Long" resultMap="SignBoardResult">
        <include refid="selectSignBoardVo"/>
        where board_id = #{boardId}
    </select>
        
    <insert id="insertSignBoard" parameterType="SignBoard" useGeneratedKeys="true" keyProperty="boardId">
        insert into sign_board
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message != null and message != ''">message,</if>
            <if test="boardType != null">board_type,</if>
            <if test="areaId != null">area_id,</if>
            <if test="linkPath != null">link_path,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="message != null and message != ''">#{message},</if>
            <if test="boardType != null">#{boardType},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="linkPath != null">#{linkPath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateSignBoard" parameterType="SignBoard">
        update sign_board
        <trim prefix="SET" suffixOverrides=",">
            <if test="message != null and message != ''">message = #{message},</if>
            <if test="boardType != null">board_type = #{boardType},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="linkPath != null">link_path = #{linkPath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where board_id = #{boardId}
    </update>

    <delete id="deleteSignBoardByBoardId" parameterType="Long">
        delete from sign_board where board_id = #{boardId}
    </delete>

    <delete id="deleteSignBoardByBoardIds" parameterType="String">
        delete from sign_board where board_id in 
        <foreach item="boardId" collection="array" open="(" separator="," close=")">
            #{boardId}
        </foreach>
    </delete>
</mapper>